{% extends "samples/base.html" %}
{% load decode_filter %}
{% load static %}

{% block content %}
    <article class="media content-section">
        <div class="media-body container">
            <h1>Album list for {{ band|decode }}:</h1>
            <div class="row">
                <div class="col-4">
                    <img class="img-fluid" src="{{ discogs_img }}" alt="">
                    <a href="{{ discogs_url }}" class="d-block" target="_blank">Discogs</a>
                    <a href="{{ spotify_url }}" class="d-block" target="_blank">Spotify</a>
                    <a href="{{ spotify_uri }}" class="d-block">Spotify APP</a>
                    <a href="{{ ytmusic_url }}" class="d-block" target="_blank">YouTubeMusic</a>
                </div>
                <div class="col-8">
                    {% for album in object_list %}
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'browse-songs' album.name|urlencode:'' %}" class="btn btn btn-outline-secondary d-block">{{ album.name }}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </article>
{% endblock content %}