{% extends "samples/base.html" %}
{% load decode_filter %}
{% load static %}

{% block content %}
    <article class="media content-section">
        <div class="media-body container">
            <h1>Sample list for {{ song|decode }}:</h1>
            <div class="row">
                <div class="col-md-4">
                    <iframe style="border-radius:12px" width="100%" frameborder="0" title="YouTube video player" src="{{ ytmusic_url }}" ></iframe>
                    <iframe style="border-radius:12px" width="100%" frameBorder="0" title="Spotify video player" src="{{ spotify_url }}" ></iframe>
                </div>
                <div class="col-md-8">
                    {% for sample in object_list %}
                    <div class="row">
                        <div class="col">
                            <p>{{ sample.text }}</p>
                            <a href="{% url 'browse-source' sample.source.name|urlencode:'' %}" class="btn btn btn-outline-secondary d-block">{{ sample.source.name }}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </article>
{% endblock content %}

