{% extends "samples/base.html" %}
{% block content %}
<h1>Search page</h1>
<div>Still not functional. Will be done second to last.</div>
    <div>
        <form action="sample-search">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Search in samples</legend>
            </fieldset>
            <div class="form-group">
                <input type="search" name="search-sample">
                <button class="btn btn-outline-info" type="submit">Search</button>
            </div>
        </form>
        <!-- <form action="song-search">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Search for a song</legend>
            </fieldset>
            <div class="form-group">
                <input type="search" name="search-song">
                <button class="btn btn-outline-info" type="submit">Search</button>
            </div>
        </form> -->
    </div>
{% endblock content %}