{% extends "samples/base.html" %}
{% load decode_filter %}

{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <h1>Sample list for source {{ source|decode }}:</h1>
            {% for sample in object_list %}
            <p>{{ sample.text }}</p>
            <a href="{% url 'browse-samples' sample.song.name|urlencode:'' %}" class="btn btn btn-outline-secondary d-block">{{ sample.song.name }}</a>
            {% endfor %}
        </div>
    </article>
{% endblock content %}